<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Coffee Manager</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="order-create-menu"><a href="#order/create"><i class="icon-edit"></i> New Order</a></li>
                </ul>

                <ul class="nav pull-right">
                	<li class="batch-list-menu"><a href="#batches">List Batches</a></li>
                    <li class="order-list-menu"><a href="#orders">My Orders</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{avatarUrl}}" width="22px" height="22px"/>
                            {{name}} <b class="caret"></b>
						</a>
                        <ul class="dropdown-menu">
                            <li><a href="#logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>