<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th style="text-align: center">Price (per Capsule)</th>
			<th style="text-align: center">Num. of Capsules</th>
		</tr>
	</thead>
	<tbody>
		{{#items}}
		<tr>
			<td class="cenas"><img src="{{imageUrl}}"/></td>
			<td class="cenas">{{name}}</td>
			<td class="cenas" style="text-align: center">€ {{unitPrice}}</td>
			<td class="cenas" style="text-align: center">{{numUnits}}</td>
			<td class="cenas">{{totalPrice}}</td>
		</tr>
		{{/items}}
	</tbody>
</table>