<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th></th><!-- imageURL -->
			<th>Coffee Name</th>
			<th style="text-align: center; vertical-align: middle">Num. of Boxes</th>
			<th style="text-align: center; vertical-align: middle">Amount</th>
		</tr>
	</thead>
	<tbody>
		{{#entries}}
		<tr>
			<td style="text-align: center; vertical-align: middle"><img src='{{item.imageUrl}}'/></td>
			<td style="vertical-align: middle">{{item.name}}</td>
			<td style="text-align: center; vertical-align: middle">{{quantity}}</td>
			<td style="text-align: center; vertical-align: middle">{{total}} €</td>
		</tr>
		{{/entries}}
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td style="text-align: center; vertical-align: middle"><b>{{boxes}}</b></td>
			<td style="text-align: center; vertical-align: middle"><b>{{total}} €</b></td>
		</tr>
	</tfoot>
</table>
<div class="pull-right">
	<a class="btn btn-warning" id="create-coffee-order" href="#orders/edit/{{id}}" {{#sent}}disabled{{/sent}}>
		Edit Order
	</a>
</div>